env: production
default_limit: 25
max_limit: 100

log: 
  log_level: 5
  log_count: 7
  log_path: ./
  log_name: app.log

database:
  host: 127.0.0.1
  port: 5432
  name: ec_db
  env: native
  user: user_user
  password: user_password
  sslmode: disable

redis:
  enable: true
  host: 127.0.0.1
  port: 6379
  password:
  database: 0

sms:
  action: SMS/TemplateSMS
  type: Accounts
  account_sid: 8aaf07085e6037fd015e6e6eb5
  account_token: 8f987b4902314ad38024c4b0
  app_sid: 8aaf07085e6037fd015e6e74ae
  app_token: 8970618228fd7233d818a327
  id: 2015
  server: app.cloopen.com
  port: 8883
